<div>
  <%= DaisyUI::Components::Radio.call(:secondary, checked: true, name: "radio-secondary").html_safe %>
  <%= DaisyUI::Components::Radio.call(:secondary, name: "radio-secondary").html_safe %>
</div>
