<div class="w-96">
  <%= DaisyUI::Components::Chat.call(:start) do |chat| %>
    <% chat.avatar do %>
      <% chat.div(class: "w-10 rounded-full") do %>
        <% chat.img(src: "/photo_avatar.jpg") %>
      <% end %>
    <% end %>
    <% chat.header do %>
      <% chat.plain "Obi-Wan Kenobi" %>
      <% chat.time(class: "text-xs opacity-50") { "12:45" } %>
    <% end %>
    <% chat.bubble { "You were the Chosen One!" } %>
    <% chat.footer(class: "opacity-50") { "Delivered" }%>
  <% end.html_safe %>

  <%= DaisyUI::Components::Chat.call(:end) do |chat| %>
    <% chat.avatar do %>
      <% chat.div(class: "w-10 rounded-full") do %>
        <% chat.img(src: "/photo_avatar.jpg") %>
      <% end %>
    <% end %>
    <% chat.header do %>
      <% chat.plain "Anakin" %>
      <% chat.time(class: "text-xs opacity-50") { "12:45" } %>
    <% end %>
    <% chat.bubble { "I hate you!" } %>
    <% chat.footer(class: "opacity-50") { "Seen at 12:46" }%>
  <% end.html_safe %>
</div>
